<div id="new-task-container" class="flex justify-between items-center whitespace-nowrap">
  <%= link_to lucide_icon('plus', class: "h-3 w-3 sm:h-4 sm:w-4"), new_task_path, data: { turbo_frame: "modal" },
    class: "#{local_assigns[:class]} text-xs sm:text-sm font-semibold py-1 px-1 rounded-full antialiased flex items-center" %>
</div>