<div class="w-full mx-auto p-6 bg-[#e7eefe]-50 dark:bg-slate-950 h-full">
  <div class="flex justify-between items-center mb-6">
    <div>
      <h1 class="text-3xl font-bold dark:text-white">Groups</h1>
      <p class="text-gray-500 mb-4 text-sm sm:text-md font-normal dark:text-gray-400">Create and manage groups to collaborate, and stay organized.</p>
    </div>

    <%= link_to lucide_icon("plus", class: "h-3 w-3 sm:h-5 sm:w-5"), new_group_path, data: { turbo_frame: "modal" }, class: "bg-purple-600 text-white hover:border-purple-600 hover:border hover:text-purple-600 hover:bg-white dark:hover:bg-transparent transition-colors dark:bg-white dark:text-gray-600 text-xs sm:text-sm font-semibold p-1 rounded-full antialiased flex items-center whitespace-nowrap" %>
  </div>

  <%= turbo_frame_tag "group_list" do %>
    <%= render 'groups/group_list', groups: @groups %>
  <% end %>
</div>