<footer class="bg-white dark:bg-slate-950 py-6 w-full dark:border-t dark:border-slate-800 absolute bottom-0">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center text-gray-400">
    &copy; <%= Time.current.year %> FocusHub. All rights reserved.
  </div>
</footer>